.containerCard {
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  gap: 30px;
}

.containerCard > h4 {
  border-bottom: 1px solid #000;
  width: 15%;
  text-align: center;
}

.containerCard > p {
  text-align: center;
  font-size: 10px;
}

.containerCard > img {
  width: 100px;
  height: 100px;
}

.enlacesvermas {
  background-color: none;
  font-size: 12px;
  text-decoration: none;
}
